{% load static %}

{% block sidebar %}
    <div class="flex-vl-row flex-cl-1 author-details-wrapp mn-left-20">
        <div class="cboard author-details pn-25 flex-vl-row">
            <div class="flex-cl-1 author-photo mn-bottom-10">
                <img class="photo-media" src="{% static 'img/ava.png' %}">
            </div>
            <div class="flex-cl-2">
                <h3 class="mn-bottom-5">Yusuf Safarov</h3>
                <p>Simple guy who want to get high from life... live, enjoy, and work in your free time)</p>
            </div>
        </div>
    </div>
{% endblock sidebar %}